div
{
	border: 2px solid black;
}

.green
{
	background-color: limegreen;
	padding: 20px;
}

.blue
{
	background-color: royalblue;
	opacity: 0.8;
	padding: 20px;
}

.chocolat
{
	background-color: sienna;
	opacity: 0.8;
	margin: 60px;
	height: 50px;
	width: 50px;
	position: absolute;
}