body
{
	width: 60%;
	text-align: justify;
	background-color: black;
	color: chartreuse;
	font-family: monospace;
	margin: auto;
}

a
{
	color: green;
}

a:visited
{
	color: deeppink;
}

a:hover
{
	font-size: 25px;
}

h1
{
	text-align: center;
}

h3
{
	font-size: 20px;
}

li
{
	list-style: none;
}

input, select
{
	margin: 15px;
}