body
{
	width: 60%;
	text-align: justify;
	background-color: black;
	color: lime;
	font-family: monospace;
	margin: auto;
}

a
{
	color: green;
}

a:visited
{
	color: deeppink;
}

a:hover
{
	font-size: 25px;
}

h1
{
	text-align: center;
	letter-spacing: 5px;
}

h3
{
	font-size: 20px;
	color: mediumvioletred;
}

h4
{
	color: turquoise;
}

li
{
	list-style: none;
	padding: 5px;
}

input, select
{
	margin: 15px;
}

p:hover
{
	font-size: 20px;
	color: yellow;
}

li:hover
{
	font-size: 18px;
	color: darkcyan;
}

footer 
{
	text-align: center;
	padding-top: 20px;
}

.turn
{
	animation-name: turn;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	font-size: 25px;
	text-align: center;
}

@keyframes turn
{
    0%  {transform: rotate(0deg);}
    25% {transform: rotate(25deg);}
    50% {transform: rotate(50deg);}
}


