body
{
	background-color: black;
	color: mediumspringgreen;
	font-family: monospace;
	font-size: 18px;
	text-align: center;
}

h1
{
	font-size: 35px;
	font-weight: lighter;
	margin: auto;
}

h2
{
	font-size: 40px;
	font-weight: lighter;
	margin: auto;
	padding: 25px;
}

h3
{
	font-size: 18px;
	font-style: italic;
	font-weight: lighter;
	margin: auto;
}

p
{
	text-align: center;
}

i
{
	font-size: 48px;
}

.Container
{
	padding: 15px;
	border-bottom: 1px solid;
	column-count: 4;
}

.GridContainer
{
	display:grid;
	grid-template-areas: 
	'ville .     .     .   '
	'date  .     info  info'
	'icon  temp  info  info' 
	;
	border-bottom: 1px solid;
}

#ville
{
	grid-area: ville;
}

#date
{
	grid-area: date;
}

#icon
{
	grid-area: icon;
	margin: auto;
	font-size: 60px;
}

#temp
{
	grid-area: temp;
}

#info
{
	grid-area: info;
	text-align: justify;
	margin: auto;
	font-size: 16px;
}



@media (min-width: 900px) 
{
	.Container
	{
		display: inline-block;
		column-count: 1;
		width: 12%;
	}

	.hide
	{
		display: none;
	}
}