body
{
	font-family: monospace;
	background-color: gainsboro;
}

header
{
	text-align: center;
	background-color: darkgrey;
	margin: auto;
	width: 90%;
	box-shadow: 5px 5px 0px black;
}

footer
{
	text-align: center;
	background-color: darkgrey;
	margin: auto;
	width: 90%;
	display: none;
}

p
{
	margin: 15px;
	text-align: justify;
	background-color: darkgrey;
	width:30%;
	padding: 15px;
	box-shadow: 5px 5px 0px black;
}

section
{
	display: flex;
}

@media (max-width: 640px)		/*Change la disposition des paragraphes en dessous de 604 pixels*/
{
	section
	{
		display: block;
	}

	p
	{
		width: 90%;
	}
}

@media (max-width: 800px)		/*Cache le header en dessous de 800 pixels*/
{
	header
	{
		display: none;
	}
}

@media print		/*Affiche un footer à l'impression*/
{
	header
	{
		display: block;
		box-shadow: none;
	}

	p
	{
		box-shadow: none;
	}

	footer
	{
		display: block;
	}
}